---
import Layout from '../layouts/Layout.astro';
import Acordion from '../components/Acordion.jsx';
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container">
      <svg width="20" height="20" viewBox="0 0 20 20">
        <use href="../../public/hedera.svg#icon"></use>
      </svg>
      <h4 class="title">
        <span>Pytaj,</span> jakby jutra miało nie być. Odpowiemy!
      </h4>
    </div>

    <Acordion client:load />
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1rem;
    width: 1366px;
    color: white;
  }
  .container {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: -0.0225em;
    text-align: left;
    span {
      background: linear-gradient(#2dd282, #90f4e8);
      -webkit-background-clip: text;
      color: transparent;
    }
  }
</style>
